{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="height: 300px;">
    <div class="mt-5">
        <form method="post" style="width: 657px;">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-2 mb-0" style="color: aliceblue; width: 134px;">
                {{ form.user_name|as_crispy_field }}
              </div>
              <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
                {{ form.user_id|as_crispy_field }}
              </div>
              <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
                {{ form.User_Cardnumber|as_crispy_field }}
              </div>
    
              <div class="form-group col-md-5 mb-0" style="color: aliceblue; width: 100px;">
                
              </div>  
    
          


              <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
                {{ form.User_Offerlist|as_crispy_field }}
              </div>  


              <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
         
              </div>  
              

              <div class="form-group col-md-5 mb-0" style="color: aliceblue;">
            
              </div>  
            </div>
            
            
            <div class="form-row">
    
    
                <div class="form-group col-md-12 mb-0" style="color: aliceblue; " >
                 
                  </div>
                  <div class="form-check form-switch col-md-5 mb-0" style="color: aliceblue;">
                    {{ form.User_Card_status|as_crispy_field }}
                  </div> 
                  <div class="col-md-5 mb-0" style="color: aliceblue;">
                    <button type="submit" class="btn btn-light">POST</button>
                  </div> 
              </div>
          
       
          </div>
            
          </form>
    
          
        
    </div>
    
    





  
{% endblock %}