{% extends 'base.html' %}

{% block content %}

<!-- <img style="border-radius: 2%;" src="http://167.71.205.55/media/Cover_Img/Screenshot_169.png" class="img-fluid" alt="Responsive image"> -->



<style>

.maintxt {
  background-image: url(http://167.71.205.55/media/Cover_Img/Screenshot_169.png);
  background-size: cover;
  height: 280px;
}
</style>
<div class="container">
  <div class="row">
      <div class="col-centered">
          <div class="maintxt">
             <br>
            <h5>Employ Name  - {{fulllist.e_name}}</h5>
            <h5>Working Days - {{count_working_days}}</h5>
     


          </div>
      </div>
  </div>
</div>

<!-- 

<div class="container">
      
  <div class="row">
      <div class="col-sm-12">
          
          <video
              id="my-video"
              class="video-js  embed-responsive embed-responsive-4by3"
              controls
              autoplay
              width="420"
              height="650"
                  poster="{{ Video_details.photo.url }}"           
              data-setup="{}"
              >
              <source src="https://tv.nbox.live:445/tvapp/nk-somoy/playlist.m3u8" type="video/mp4" />
              <p class="vjs-no-js">

            
              >
              </p>
              </video>
 -->






















<br>
<br>


<div class="container mt-2">
  <h3 style="color: aliceblue;">#Filter</h3>  
</div>        
<div class="container d-flex justify-content-between mt-1">
 <a href="{% url 'Shadek' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Shadek</button></a>
<a href="{% url 'ridon' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">ridon</button></a>
<a href="{% url 'Yeasin' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Yeasin</button></a>
<a href="{% url 'Zia' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Zia</button></a>
<a href="{% url 'Ridoy' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Ridoy</button></a>
<a href="{% url 'Riyad_Driver' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Riyad_Driver</button></a>
<a href="{% url 'Riyad' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Riyad</button></a>
<a href="{% url 'Shakil' %}"><button type="button" style="font-size: 12px;" class="btn btn-outline-light">Shakil</button></a>


</div> 

<br>
<br>

<style>

  .colors{

    color: aliceblue;
  }

  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>


<script>

  $(document).ready(function()
  {
         var cost;
         var totalcost = 0;
         $('td:nth-child(4)').each(function(){
          cost = $(this).html();
          totalcost+=parseInt(cost);
            $('#totalcost').text(totalcost)

         });
  });
</script>

<table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th style="color: aliceblue;" scope="col">Date</th>
        <th style="color: aliceblue;" scope="col">Office Time In</th>
        <th style="color: aliceblue;" scope="col">Office Time Out</th>
        <th style="color: aliceblue;" scope="col">Employ Name</th>
        
        

        

      </tr>
    </thead>
    <tbody>
        {% for q in fulllist %}
        <tr>
          <th style="color: aliceblue;" scope="row">{{q.over_timehour}}</th>
          <td style="color: aliceblue;">{{q.over_hour_in}}</td>
          <td style="color: aliceblue;"> {{q.over_hour_out}}</td>
          <td style="color: aliceblue;"> {{q.e_name}}</td>
          <td  style="color: aliceblue;" > {{q.description}}</td>

     

         
              

            {% if request.user.is_superuser%}

           
          </tr>
          {% else%}
          <td class="colors"><a href="#"><i class="fa fa-edit text-success" style="font-size: 25px; margin-right: 10px;"></i></a><a href="#"><i class="fa fa-trash text-danger" style="font-size: 25px;"></i></a></td>
          {% endif %}


      {% endfor %} 
      <script>

        $(document).ready(function()
        {
               var cost;
               var totalcost = 0;
               $('td:nth-child(4)').each(function(){
                cost = $(this).html();
                totalcost+=parseInt(cost);
                  $('#tosstalcost').text(totalcost)
      
               });
        });
      </script>
      <tr>
        <td class="colors" colspan="3">Total</td>
        <td class="colors"  id="tosstalcost" colspan="10"></td>
      </tr>
    </tbody>
   
  </table>
  
{% endblock content %}
    


